* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.story .container {
  margin: 0 auto;
  max-width: 625px; }
.story .icon {
  width: 64px;
  height: 64px;
  background-color: #ff4136;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left; }
  .story .icon.U {
    background-image: url("../assets/avatars/you.png"); }
  .story .icon.B {
    background-image: url("../assets/avatars/becky.png"); }
  .story .icon.K {
    background-image: url("../assets/avatars/mentor.png"); }
.story div.dialog {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  max-width: 550px;
  min-width: 250px;
  padding: 20px;
  margin: 0 auto 20px;
  border-radius: 6px;
  color: #444444;
  background: white; }
  .story div.dialog.message {
    float: left;
    max-width: 500px;
    min-width: 200px;
    position: relative;
    padding-top: 10px; }
    .story div.dialog.message .credit {
      color: #9da6af;
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 13px; }
    .story div.dialog.message :after {
      right: 100%;
      top: 18px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #ffffff;
      border-width: 8px;
      margin-top: -8px; }
      @media screen and (max-width: 650px) {
        .story div.dialog.message :after {
          right: auto;
          top: auto;
          bottom: 100%;
          border-bottom-color: #ffffff;
          border-right-color: rgba(255, 255, 255, 0);
          left: 18px;
          margin-left: -8px; } }
.story button, .story .button {
  width: 250px;
  clear: both;
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  margin: 15px auto 0; }

@font-face {
  font-family: "tumblr";
  src: url("../assets/icons/fonts/tumblr.eot");
  src: url("../assets/icons/fonts/tumblr.eot?#iefix") format("embedded-opentype"), url("../assets/icons/fonts/tumblr.woff") format("woff"), url("../assets/icons/fonts/tumblr.ttf") format("truetype"), url("../assets/icons/fonts/tumblr.svg#tumblr") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "tumblr" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tumblr" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-star:before {
  content: "a"; }

.icon-tumblr:before {
  content: "b"; }

.icon-twitter:before {
  content: "c"; }

.icon-heart:before {
  content: "d"; }

.icon-trophy:before {
  content: "e"; }

.icon-mail:before {
  content: "f"; }

.icon-link:before {
  content: "g"; }

.icon-retweet:before {
  content: "i"; }

.icon-add:before {
  content: "h"; }

.icon-help:before {
  content: "j"; }

.icon-stopwatch:before {
  content: "k"; }

.icon-game:before {
  content: "l"; }

.icon-bolt:before {
  content: "m"; }

.icon-pause:before {
  content: "n"; }

.icon-play:before {
  content: "o"; }

.icon-tag:before {
  content: "p"; }

.icon-widget:before {
  content: "q"; }

body {
  background: #2c4762;
  color: white;
  margin: 0; }

#container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container:after {
    content: "";
    display: table;
    clear: both; }
  #container #main {
    background: #2c4762;
    border-radius: 15px;
    padding: 20px;
    text-align: center; }
    #container #main aside {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      #container #main aside:last-child {
        margin-right: 0; }
    #container #main article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      #container #main article:last-child {
        margin-right: 0; }
    #container #main section {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      #container #main section:last-child {
        margin-right: 0; }
    #container #main input[type="text"] {
      text-align: center; }
    #container #main .post {
      background: white;
      border-radius: 6px;
      display: inline-block;
      padding: 15px;
      margin: 0 10px 10px;
      max-width: 290px;
      height: 290px;
      overflow: hidden; }
      #container #main .post img {
        width: auto;
        height: 100%; }
      #container #main .post.rebloggable {
        height: auto;
        padding-bottom: 0; }
        #container #main .post.rebloggable img {
          height: 290px; }
        #container #main .post.rebloggable .post_controls a {
          font-size: 13px;
          float: right;
          color: #9da6af;
          margin: 0 0 5px 7px; }
          #container #main .post.rebloggable .post_controls a i {
            font-size: 15px;
            line-height: 10px;
            margin-right: 2px; }
            #container #main .post.rebloggable .post_controls a i.icon-link {
              font-size: 12px;
              margin-right: 4px; }
        #container #main .post.rebloggable .post_controls a:last-child {
          margin-left: 0; }
      @media screen and (max-width: 650px) {
        #container #main .post {
          max-width: 150px;
          height: 150px; }
          #container #main .post.rebloggable img {
            height: 150px; } }

#main-header {
  padding: 0.5em;
  color: white;
  overflow: auto; }
  #main-header h1 {
    float: left;
    display: inline-block;
    font-size: 2.75em;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: -0.0225em;
    font-family: "Bookman Old Style", "Garamond Premier Pro Caption", Palatino, Garamond, serif; }
    @media screen and (max-width: 650px) {
      #main-header h1 {
        line-height: 0.8em; } }
  #main-header nav {
    float: right; }
    #main-header nav h2 {
      line-height: 60px;
      padding-right: 10px;
      display: inline-block; }
      @media screen and (max-width: 650px) {
        #main-header nav h2 {
          text-align: left;
          line-height: 0.9em; } }
    @media screen and (max-width: 650px) {
      #main-header nav {
        padding-top: 15px; } }

button, .button {
  display: inline-block;
  margin: 0 auto;
  background: #529ecc;
  border-radius: 2px;
  font-weight: bold;
  color: white;
  cursor: pointer; }
  button.start, .button.start {
    width: 250px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    text-align: center; }
  button.category, .button.category {
    width: 250px;
    height: 45px;
    margin-bottom: 5px;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize; }
  button:active, button:hover, button:visited, .button:active, .button:hover, .button:visited {
    color: white; }

.intro {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  max-width: 625px;
  min-width: 250px;
  padding: 20px;
  margin: 0 auto 20px;
  border-radius: 6px;
  color: #444444;
  background: white; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 14px; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.al-left {
  text-align: left; }

.al-center {
  text-align: center; }

.al-right {
  text-align: right; }

a {
  color: #ffa144;
  font-weight: bold;
  text-decoration: none; }

/*# sourceMappingURL=app.css.map */
