@import "colors";
.story {
  .container {
    margin: 0 auto;
    max-width: 725px;
  }
  .icon {
    width: 64px;
    height: 64px;
    background-color: $white;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 6px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    &.U {
      background-image: url('../assets/avatars/you.png');
    }
    &.B {
      background-image: url('../assets/avatars/becky.png');
    }
    &.K {
      background-image: url('../assets/avatars/mentor.png');
    }

  }

  div.dialog {
    text-align: left;
    font-size: 14px;
    line-height: 20px;

    width: 100%;
    max-width: 550px;
    min-width: 250px;
    padding: 20px;

    margin: 0 auto 20px;
    border-radius: 6px;

    color: $tumblrgrey;
    background: white;
    &.message {
      float: left;
      max-width: 450px;
      min-width: 200px;
      position: relative;
      padding-top: 10px;
      @media screen and (max-width: 650px) {
        clear: both;
      }
      .credit {
        color: $tumblrlightgrey;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 13px;
      }
      :after {
        right: 100%;
        top: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 8px;
        margin-top: -8px;
        @media screen and (max-width: 650px) {
          right: auto;
          top: auto;
          bottom: 100%;
          border-bottom-color: #ffffff;
          border-right-color: rgba(255, 255, 255, 0);
          left: 18px;
          margin-left: -8px;
        }
      }
    }
  }

  button, .button {
     width: 250px;
     clear: both;
     display: block;
     height: 45px;
     line-height: 45px;
     font-size: 16px;
     text-align: center;
     margin: 15px auto 0;
  }
}