@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";
@import "dialog";
@import "colors";
@import "modals";
@import "icons";

body {
	background: $tumblrblue;
	color: $white;
	margin: 0;
}

#container {
  @include outer-container;
  #main {
	  background: $tumblrblue;
	  border-radius: 15px;
	  padding: 20px;
	  text-align: center;
	  aside { @include span-columns(3); }
	  article { @include span-columns(9); }
	  section { @include span-columns(12); }
	  input[type="text"] {
	  		text-align: center;
	  }
	  .post {
		  	background: $white;
		  	border-radius: 6px;
		  	display: inline-block;
		  	padding: 15px;
		  	margin: 0 10px 10px;
		  	max-width: 290px;
			height: 290px;
		  	overflow: hidden;
		  	img {
		  		width: auto;
		  		height: 100%;
		  	}
		  	&.rebloggable {
		  		height: auto;
		  		padding-bottom: 0;
		  		img {
		  			height: 290px;
		  		}
		  		.post_controls {
		  			a {
	  					font-size: 13px;
		  				float: right;
		  				color: $tumblrlightgrey;
		  				margin: 0 0 5px 7px;
		  				i {
		  					font-size: 15px;
		  					line-height: 10px;
		  					margin-right: 2px;
		  					&.icon-link {
		  						font-size: 12px;
		  						margin-right: 4px;
		  					}
		  				}

		  			}
		  			a:last-child {
		  				margin-left: 0;
		  			}
		  		}
		  	}
		  	@media screen and (max-width: 650px) {
		  		max-width: 150px;
		  		height: 150px;
			  	&.rebloggable {
			  		img {
			  			height: 150px;
			  		}
			  	}
		  	}
	  }
	}
}

#main-header {
	padding: 0.5em;
	color: white;
	overflow: auto;
	h1 {
		float: left;
		display: inline-block;
		font-size: 2.75em;
		line-height: 60px;
		font-weight: bold;
		letter-spacing: -0.0225em;
		font-family: "Bookman Old Style", "Garamond Premier Pro Caption", Palatino, Garamond, serif;
	  	@media screen and (max-width: 650px) {
			line-height: 0.8em;
		}	
		a.info {
			font-size: 13px;
		  font-family: $base-font-family;

		}	
	}
	nav {
		float: right;
		h2 {
			line-height: 60px;
			padding-right: 10px;
			display: inline-block;
		  	@media screen and (max-width: 650px) {
		  		text-align: left;
				line-height: 0.9em;
			}		
		}
	  	@media screen and (max-width: 650px) {
	  		padding-top: 15px;
		}		
	}
	.info.tooltip {
		width: 50%;
		min-width: 300px;
		position: absolute;
		top: 75px;
		background: #ffffff;
		color: $tumblrgrey;
	   text-align: left;
	   font-size: 14px;
	   line-height: 20px;
	   padding: 20px;
	   z-index: 1000;

	   border-radius: 6px;
	   button, .button {
	   	display: block;
	   	margin: 0 auto;
	   }
	  	@media screen and (max-width: 650px) {
	  		top: 60px;
		}		
	  	@media screen and (max-width: 425px) {
	  		top: 90px;
		}		
	}
	.info.tooltip:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #ffffff;
		border-width: 8px;
		margin-left: -8px;
	}
}
button, .button {
	display: inline-block;
	margin: 0 auto;
	background: $tumblrlightblue;
	border-radius: 2px;
	font-weight: bold;
	color: $white;
	cursor: pointer;
	&.start {
		width: 250px;
		height: 45px;
		line-height: 45px;
		font-size: 16px;
		text-align: center;
	}
	&.category {
		width: 250px;
		height: 45px;
		margin-bottom: 5px;
		line-height: 45px;
		font-size: 16px;
		text-align: center;
		text-transform: capitalize;
	}
	&:active, &:hover, &:visited {
		color: $white;
	}
}

.intro {
	text-align: left;
	font-size: 14px;
	line-height: 20px;

   max-width: 625px;
   min-width: 250px;
   padding: 20px;
   margin: 0 auto 20px;
   border-radius: 6px;

   color: $tumblrgrey;
   background: white;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	font-size: 14px;
}

.f-left {
	float: left;
}
.f-right {
	float: right;
}
.al-left {
	text-align: left;
}
.al-center {
	text-align: center;
}
.al-right {
	text-align: right;
}
a {
	color: #ffa144;
	font-weight: bold;
	text-decoration: none;
}