@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";
@import "colors";
@import "icons";

body {
	background: $tumblrblue;
	color: $white;
	margin: 0;
}

#container {
  @include outer-container;
  #main {
	  background: $tumblrblue;
	  border-radius: 15px;
	  padding: 20px;
	  text-align: center;
	  aside { @include span-columns(3); }
	  article { @include span-columns(9); }
	  section { @include span-columns(12); }
	  input[type="text"] {
	  		text-align: center;
	  }
	  .post {
		  	background: $white;
		  	border-radius: 6px;
		  	display: inline-block;
		  	padding: 15px;
		  	margin: 0 10px 10px;
		  	max-width: 290px;
			height: 290px;
		  	overflow: hidden;
		  	img {
		  		width: auto;
		  		height: 100%;
		  	}
		  	&.rebloggable {
		  		img {
		  			opacity: 0.3;
		  		}
		  		.post_controls {
		  			position: relative;
		  			top: -65%;
		  			font-size: 3em;
		  			a {
		  				color: $tumblrgrey;
		  			}
		  		}
		  	}
	  }
	}
}

#main-header {
	padding: 0.5em;
	color: white;
	overflow: auto;
	h1 {
		float: left;
		display: inline-block;
		font-size: 2.75em;
		line-height: 60px;
		font-weight: bold;
		letter-spacing: -0.0225em;
		font-family: "Bookman Old Style", "Garamond Premier Pro Caption", Palatino, Garamond, serif;
	}
	nav {
		float: right;
		h2 {
			line-height: 60px;
			padding-right: 10px;
			display: inline-block;
		}
	}
}
.storyline {
	@include span-columns(12);
	@include pad();
	text-align: center;
	font-family: 'Press Start 2P', monospace;
}
button, .button {
	display: inline-block;
	margin: 0 auto;
	background: $tumblrlightblue;
	border-radius: 2px;
	font-weight: bold;
	color: $white;
	&.start {
		width: 250px;
		height: 45px;
		line-height: 45px;
		font-size: 16px;
		text-align: center;
	}
	&.category {
		width: 250px;
		height: 45px;
		margin-bottom: 5px;
		line-height: 45px;
		font-size: 16px;
		text-align: center;
		text-transform: capitalize;
	}
	&:active, &:hover, &:visited {
		color: $white;
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	font-size: 14px;
}

.f-left {
	float: left;
}
.f-right {
	float: right;
}
.al-left {
	text-align: left;
}
.al-center {
	text-align: center;
}
.al-right {
	text-align: right;
}
a {
	color: #ffa144;
	font-weight: bold;
	text-decoration: none;
}