<div class="story">
   <div class="container" ng-repeat="dialog in storyline" ng-show="dialogID==$index">
      <div class="icon" ng-class="dialog.type" ng-show="dialog.type.lastIndexOf('message', 0) === 0"></div>
      <div class="dialog" ng-class="dialog.type">

        <div class="credit" ng-show="dialog.speaker != ''">
          {{dialog.speaker}}
        </div>
         <div>
            {{dialog.content}}
         </div>
      </div>
   </div>
   <a ng-click="next()" type="button" class="button">
       <i class="icon-play"></i>Next
   </a>
</div>