<div ng-if="current_story.type == 'text'" class="plain">
   <p>
      {{current_story.text}}
   </p>
</div>
<div ng-if="current_story.type == 'gif'" class="plain">
   <p>
      {{current_story.text}}
   </p>
   <p>
      <img src="{{gif}}">
   </p>
</div>
<a ng-click="next()" type="button" class="button story" ng-if="storyline.length > 0">
    <i class="icon-play"></i>Next
</a>
<a ng-click="closeAll()" type="button" class="button story" ng-if="storyline.length == 0">
    <i class="icon-play"></i>Continue
</a>