<h1 ng-click="info = !info">tumblr. the game.<a class="info">info</a></h1>
<div class="info tooltip" ng-show="info">
   <h3>about</h3>
   <p>tumblr the game is a pop culture game wherein you guess the common tag for a set of images. Answers are automatically submitted as you type, so if it isn't submitting, you have the wrong answer. You do not need to hit enter.</p>
   <p>As all images are sourced from the latest posts on tumblr, we are not responsible for the contents of each game. We are sorry for any duplicate images, or any unrelated images, and especially sorry if any pornography shows up.</p> 
   <p>TTG has keyboard shortcuts. Hit enter to click Next, and hit alt/option + (1,2,3,4) to select a round.</p>
   <p>Try to get a high score, and share with your friends!</p>
   <p><a href="https://docs.google.com/forms/d/17LO23cdV_pwOg1hM2KjXv97uBfVqMtuc_IkY75lm9NI/viewform" target="_blank">Send us feedback</a></p>
   <h3>credits</h3>
   <p>tumblr the game was created by <a href="http://danamongrobots.tumblr.com" target="_blank">Dan</a> and <a href="http://www.jynx.ca" target="_blank">Rita</a>. Follow them on Tumblr!</p>
   <p>This application uses the Tumblr application programming interface but is not endorsed or certified by Tumblr, Inc. All of the Tumblr logos and trademarks displayed on this application are the property of Tumblr, Inc.</p>
   <a ng-click="info = !info" class="button start">
      Close
   </a>
</div>
<nav>
<h2>ROUND {{round}}</h2>
<h2>SCORE {{score}}</h2>
<h2>LIVES {{lives}}</h2>
</nav>