<h2>You lost! :'(</h2>
<p>You played {{round}} rounds and got a score of {{score}}</p>
<a ng-click="shareScore()" class="button category">Share your results?</a>
<a ng-click="returnToHome()" class="button category">Return Home</a>
<p />
<div>
  <a class="button category" title="Share on Tumblr" href="http://www.tumblr.com/share/link?url=tumblr.ceiling.cat&name=tumblr.%20the%20game.&description=I%20got%20a%20score%20of%20{{score}}%20studying%20the%20humans%20through%20the%20hashtags.%20How%20well%20will%20you%20do%3F%20Find%20out!">
  <img src="assets/logos/tumblr_vector.svg"></img>&nbsp;&nbsp;Share Score on Tumblr
  </a>
</div>
<p />
<div>
  <a class="button category" target="_blank" title="Tweet Score" href="https://twitter.com/share?text=On%20http%3A%2F%2Ftumblr.ceiling.cat%20I%20got%20a%20score%20of%20{{score}}%20studying%20the%20humans%20through%20%23tumblr.%20How%20well%20will%20you%20do%3F%20Find%20out!%20%23tumblrthegame">
  <img src="https://g.twimg.com/Twitter_logo_white.png"></img>&nbsp;&nbsp;&nbsp;Tweet Score
  </a>
</div>
