<div ng-switch="isLoading">

   <!-- BEGIN: Loading View. -->
   <p ng-switch-when="true">

      Stage is loading... {{ percentLoaded }}%

   </p>
   <!-- END: Loading View. -->

   <!-- BEGIN: Results View. -->
   <div
      ng-switch-when="false">
      <h3>What {{category}} tag is this?</h3>
      <h2>Round ends in {{secondsLeft}}s</h2>
      <input type="text" id="guess" ng-model="guess" focus="true" ng-change="updateGuess(guess)">
      <modal-view modal-show="modal.isOpen()" modal-content="modal.content"></modal-view>

      <div class="post" ng-repeat="post in posts">
         <img ng-src="{{post.photos[0].alt_sizes[1].url}}" />
      </div>

   </div>
   <!-- END: Results View. -->
</div>