<div ng-switch="isLoading">

   <!-- BEGIN: Loading View. -->
   <p ng-switch-when="true">

      Stage is loading... {{ percentLoaded }}%

   </p>
   <!-- END: Loading View. -->

   <!-- BEGIN: Results View. -->
   <div
      ng-switch-when="false">
      <h2>What tag is this?</h2>
      <h3>You have {{secondsLeft}} to guess!</h3>
      <input type="text" id="guess" ng-model="guess" focus="true" ng-change="updateGuess(guess)">
      <h1 ng-show="correct">Correct?!</h1>

      <div class="post" ng-repeat="post in posts">
         <img src="{{post.photos[0].original_size.url}}" />
      </div>

   </div>
   <!-- END: Results View. -->

</div>