<div ng-switch="isLoading">

   <!-- BEGIN: Loading View. -->
   <p ng-switch-when="true">

      Stage is loading... {{ percentLoaded }}%

   </p>
   <!-- END: Loading View. -->

   <!-- BEGIN: Results View. -->
   <div
      ng-switch-when="false">
      <div ng-switch="status">
         <h3>What {{category}} tag is this?</h3>
         <div ng-switch-when="won">
            <h2>Correct!</h2>
         </div>
         <div ng-switch-when="lost">
            <h2>Time's Up!</h2>
         </div>
         <div ng-switch-default>
            <h2>Round ends in {{secondsLeft}}s</h2>
         </div>
         <input type="text" class="mousetrap" ng-class="status" shaker id="guess" ng-model="guess" focus="true" ng-disabled="status == 'won' || status == 'lost'" ng-change="updateGuess(guess)">
      </div>
      <div class="posts">
      <div class="post" ng-repeat="post in posts">
         <img ng-src="{{post.photos[0].alt_sizes[1].url}}" />
      </div>
   </div>
   </div>
   <!-- END: Results View. -->
</div>